@media (max-width: 768px) {
    .receitas-card {
        flex: 1 1 100%; /* 1 card por linha no celular */
    }
    .receitas-card-container {
        padding: 0 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .receitas-card {
        flex: 1 1 calc(50% - 2rem); /* 2 cards por linha no tablet */
    }
}

@media (min-width: 1440px) {
    .receitas-card {
        flex: 1 1 calc(25% - 2rem); /* 4 cards por linha em monitores grandes */
    }
}
