@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1f1517;
    color: #FFFFFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: teko;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
   display: flex; 
   flex-direction: row;
   gap: 1.5rem;
}

.menu a {
    color: #FFF2E780;
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    flex-direction: column;
}

.principal {
    background-color: #181012;
}

.hero {
    display: flex;

    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #c7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1;
}

.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.botao-container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 0.2rem;
    border-radius: 0.5rem;

    background-color: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}